# Python
__pycache__/
*/__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/
.venv/

# SQLite DB locali
app/db/*.db
app/db/*.sqlite

# File allegati runtime
frontend/static/uploads/

# File di ambiente
.env

# VS Code e altri editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
